<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ul class="list-group mb-4">
    {{#each messages}}
    <li class="list-group-item text-center">{{this.user}} {{this.added}} {{this.text}}</li>
    {{/each}}
</ul>

<a href="/new" class="btn btn-primary btn-block">Add a new message</a>